#content {
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 50;
	.upload {
		margin-top: 1rem;
		width: 100%;
		height: 150px;
		min-height: 150px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		form {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: 100%;
			.submit {
				background-color: var(--sidebar-color);
				color: var(--primary-text-color);
				font-weight: 600;
				word-spacing: 0.2rem;
				border: none;
				outline: none;
				cursor: pointer;
				text-align: center;
				border-radius: 10px;
				padding: 15px 75px;
				text-transform: uppercase;
			}
			.upload-wrapper {
				position: relative;
				overflow: hidden;
				display: inline-block;
				.btn {
					background-color: var(--secondary-text-color);
					padding: 15px 45px;
					text-align: center;
					text-transform: uppercase;
					background-size: 200% auto;
					color: var(--primary-text-color);
					display: block;
					border-radius: 10px;
					flex: 0 0 80%;
					font-weight: 600;
					word-spacing: 0.2rem;
					letter-spacing: 0.1rem;
					word-break: break-all;
					&.active {
						background-color: var(--primary-text-color);
						color: var(--sidebar-color);
					}
				}
				input[type="file"],
				input[type="file"]::-webkit-file-upload-button {
					cursor: pointer;
					word-break: break-all;
				}
				input[type="file"] {
					cursor: pointer;
					font-size: 100px;
					position: absolute;
					left: 0;
					top: 0;
					opacity: 0;
					word-break: break-all;
				}
			}
			flex-wrap: wrap;
		}
	}
	.table {
		width: 90%;
		margin: auto;
		margin-top: 1rem;
		overflow-x: scroll;
		table {
			width: 100%;
			.heading {
				background-color: var(--sidebar-color);
				transition: all 0.15s ease-in-out;
				&:hover {
					background-color: var(--hover-color);
					color: var(--sidebar-color);
					cursor: pointer;
				}
			}
		}
		&::-webkit-scrollbar {
			width: 20px;
		}
		&::-webkit-scrollbar-track {
			background-color: var(--primary-text-color);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--secondary-text-color);
			box-shadow: inset 2px 2px 5px 0 rgba(#e8f9fd, 0.5);
		}
	}
	.pagination {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: auto;
		gap: 2rem;
		margin-top: 2rem;
		button {
			text-align: center;
			padding: 5px 15px;
			border: none;
			outline: none;
			background: transparent;
			font-weight: 700;
			border: 2px solid var(--sidebar-color);
			cursor: pointer;
			transition: all 0.15s ease-in-out;
			&:hover {
				background-color: var(--primary-text-color);
			}
		}
	}
	header {
		width: 100%;
		margin-top: 3rem;
		h2 {
			word-spacing: 0.2rem;
			font-weight: 700;
			text-align: center;
			width: 100%;
		}
	}
	.chart {
		width: 90%;
		height: 500px;
		max-height: 500px;
		// min-width: 400px;
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 4rem;
		overflow-x: scroll;
		.stats {
			width: 100%;
			height: 100%;
			background-color: var(--sidebar-color);
		}
		&::-webkit-scrollbar {
			width: 20px;
		}
		&::-webkit-scrollbar-track {
			background-color: var(--primary-text-color);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--secondary-text-color);
			box-shadow: inset 2px 2px 5px 0 rgba(#e8f9fd, 0.5);
		}
	}
}

@media screen and (max-width: 700px) {
	#content .chart {
		width: 90%;
		height: 370px;
		max-height: 370px;
	}
}
