#sidebar {
	width: 15%;
	min-width: 12rem;
	height: 100%;
	background-color: var(--sidebar-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// &::after {
	// 	content: var(--url);
	// 	position: absolute;
	// 	top: 1%;
	// 	right: -20%;
	// 	font-size: 2rem;
	// 	display: block;
	// 	width: 10%;
	// 	height: 6%;
	// }
	hr {
		width: 85%;
		border: 1px solid var(--primary-text-color);
	}
	h3 {
		width: 100%;
		text-align: center;
		margin-top: 2rem;
		word-spacing: 0.1rem;
	}
	.search {
		width: 87%;
		input {
			outline: none;
			border: none;
			&:focus {
				outline: none;
				border: none;
			}
		}
	}
	.files {
		width: 100%;
		height: 550px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
		overflow-x: hidden;
		.filename {
			&:last-child {
				margin-bottom: 170px;
			}
			width: 100%;
			color: var(--primary-text-color);
			transition: all 0.15s ease-in-out;
			&:hover {
				cursor: pointer;
				background-color: var(--hover-color);
			}
			span {
				display: block;
				padding: 1.2rem;
				padding-left: 0%;
				text-align: center;
				font-size: large;
				font-weight: 500;
				letter-spacing: 0.1rem;
				word-break: break-all;
				font-family: var(--text-family);
			}
		}
		&::-webkit-scrollbar {
			display: none;
			overflow: hidden;
		}
	}
}

@media screen and (max-width: 700px) {
}
