@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500&display=swap");
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Poppins", sans-serif; }

:root {
  --background-color: #ff1e00;
  --sidebar-color: #000000;
  --primary-text-color: #e8f9fd;
  --secondary-text-color: #000000;
  --logo-font-family: "Sansita Swashed", cursive;
  --font-family: "Poppins", sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--secondary-text-color); }

main {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh; }
